body {
    background: linear-gradient(147deg, #F5F7FA, #FFFFFF) no-repeat center center fixed;
    background-size: cover;
}


/*____________________________________________*/


/*Styling for Header section starts from here*/


/*____________________________________________*/

.header {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.logo img {
    padding: 10px;
    width: 125px;
    height: 50px;
}


/* Menu Design starts here */

.navbar {
    text-align: center;
    position: relative;
    border-radius: 27px;
    height: 50px;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .27);
}

.navbar:hover {
    background-color: #070707;
}

.navbar a {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 200;
    color: #eeffee;
    float: left;
    padding-left: 47px;
    padding-right: 47px;
}

.navbar a:hover {
    transform: scale(1.3);
    cursor: pointer;
    font-weight: 400;
    transition: 1s ease-in-out;
    color: rgb(255, 81, 0);
}

.navbar a:active {
    transform: scale(1.25);
    font-weight: 400;
}


/*Menu Design ends here*/


/*Social Media Icon design starts here*/

.social {
    text-align: right;
}

.social .fa {
    margin: 7px;
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 47px;
    background: #eeffee;
    color: #070707;
}

.fa:hover {
    transform: scale(1.25) rotate(-27deg);
    background: #070707;
    color: #eeffee;
    transition: 0.6s;
}


/*Social Media Design ends here*/


/*____________________________________*/


/*Styling for Header section ends here*/


/*____________________________________*/


/*________________*/


/*SLIDESHOW starts*/


/*________________*/

.banner {
    background: rgba(0, 0, 0, 0.27);
    margin-top: 50px;
    height: 540px;
    align-content: space-evenly;
    grid-template-columns: 60% 35%;
    align-items: center;
    display: none;
}

.banner--selected {
    display: grid;
}

.banner img {
    padding-left: 10px;
    width: 100%;
    height: 110%;
    border-radius: 10px;
}

.banner img:hover {
    opacity: 0.75;
    cursor: pointer;
    transform: scale(0.95);
}

.banner .text-container {
    margin-left: 75px;
    background: rgba(0, 0, 0, 0.27);
    border-radius: 27px;
    text-align: center;
    padding: 10px;
    color: #eeffee;
    font-family: Roboto, sans-serif;
}

.banner .text-container:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.47);
    transition: ease-out 0.8s;
    box-shadow: 0px 2px 6px 1px white;
}

.text-container h2 {
    font-size: 40px;
    font-family: 'Alegreya Sans SC';
}

.text-container p {
    position: relative;
    font-size: 17px;
    font-family: 'Nunito';
}

.banner .button {
    background-color: transparent;
    border: 1px solid #eeffee;
    box-sizing: border-box;
    color: #eeffee;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: fit-content;
    height: 40px;
    border-radius: 40px;
    font-size: 16px;
    line-height: 27px;
}

.banner .button:hover {
    background-color: rgba(250, 255, 250, 0.80);
    transition: 1s;
    transform: scale(1.1);
    cursor: pointer;
    color: #070707;
    border: 3px solid #070707;
}

.carousel_nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel_btn {
    width: 27px;
    height: 7px;
    display: inline-block;
    background: rgba(250, 255, 250, 0.47);
    border-radius: 47px;
    margin: 0 7px;
}

.carousel_btn:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.carousel_btn--selected {
    background: #eeffee;
}


/*______________*/


/*SLIDESHOW ends*/


/*______________*/
